*{
	text-align: center;
}

body{
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, red, yellow); /* Standard syntax (must be last) */
}

.jumbotron{
	color:white;
/*	max-height: 300px;*/
	
}

img{
	max-width: 300px;
	max-height:300px;
}

#mainText{
	size:36px;
	color:white !important;
	font-weight: bold;
}

h2{
	size:18px
}

ol{
	float:left;
	font-size: 26px;
}

ul{
	float:right;
	font-size: 26px;
}
p{
	font-size: 18px;
}
.lead{
	font-size: 28px;
	text-align:center;
	color:black;
}
textarea{
		font-size: 28px;
		color: red;
		font-style: bold;

}
#ca{
	width:500px;
	height: 50px;
}
button{
	width: 100px;
	height: 25px;
	font-size: 15px;
	color:red;
	font-style: bold;	
}
#ca{
	font-style: bold;
	color:red;
}

li{
	background-color:lightyellow;
	border:15px;
	border-radius: 15px;
	width:500px;
	height:30px;
}

#toEat{
    height:75px;
    width:300px;
    background-color: #fff;
    text-align:center;
}

.choice{
	width:270px;
	height: 30px;
}
.footer{
	float: left;
	padding-top: 30px;
}

#left-group{
	position:absolute;
	left:0;
	padding-left:50px;
}
#right-group{
	position:absolute;
	right:0;
	padding-right:50px;
}
